public/docs/Flow_chart.png
public/docs/Flow_chart.mmd
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.ico
*.log
*.mmdb
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.sqlite3-journal
*.env
*.env.*
*.pytest_cache/
*.tox/
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.env.example
.python-version
debug.log
feeded\ data.py
venv
venv_2
docker learner.md
data_backup.json
data_backup.sql
