# Django
DEBUG=True
SECRET_KEY=django-insecure-qs)ynsfy1ppbc@j!(h3w#(b9p**ga3ja)k0nsqetu1-=e!ze+t
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=django.db.backends.mysql
DB_NAME=election_sys
DB_USER=election_sys
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=3306

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=clevengodsontech@gmail.com
EMAIL_HOST_PASSWORD=xrwyzbjkigghonxz
EMAIL_TIMEOUT=10
